body{
    background-image: url(background-image.jpg);
    background-size: cover;
    background-color: rgba(22, 14, 78, 0.5);
    background-blend-mode: overlay;
    color: white;
    
        font-family: "Mukta", sans-serif;
        font-weight: 400;
        font-style: normal;
  
    text-align: center;
    font-size: 18px;
}

form{
    width: 80%;
    margin-left:auto;
    margin-right: auto;
    padding-top: 2%;
    padding-bottom: 4%;
    max-width: 650px;
    min-width: 30px;
    background-color: rgb(3, 39, 71, 0.8);
    border-radius: 2%;
}

label, input, select, legend,textarea{
    display: block;
    text-align: start;
}

.radio,input[type="checkbox"]{
    display: inline;
    width: unset;
    margin-bottom: 0.5rem;
}
fieldset{
    border: none;
    padding: 5%;
}

input, select{

    width: 90%;
    padding: 0.5rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
    border-radius: 6px; 
    
}

textarea{
    width: 90%;
    margin-top: 0.5rem;
}

.submitbtn{
    background-color: green;
    color: white;
    /* border: none; */
    width: 82%;
    margin-left: -7%;
    border-radius: 5px;
   padding: 0.5rem;
}